.typewriter-container {
    width: 50%;
    color: white;
    opacity: 0;
    animation: fadein 2s forwards;
  }
  
  .typewriter-text {
    font-size: 5em;
    letter-spacing: 10px;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .cursor {
    border-right: white 5px solid;
    animation: blink 1s step-end infinite;
  }
  
  @keyframes blink {
    50% { border-color: transparent; }
  }
  
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}