footer{
    color: white;
    width: 150% !important;
    height: 2000%;
    margin: 0 !important;  
}

footer .curriculumButton{
    width: 20%;
    margin: 0 auto;
}


footer .curriculumButton:hover{
    border:2px solid var(--colorSecundario);
}